extends main

block main

    table.table.bg-light.table-bordered.table-hover.table-responsive-md
        thead.thead-light
            tr
                th(scope='col') C&oacute;digo
                th(scope='col') Tipo
                th(scope='col') Nombre
                th(scope='col') Nivel de seguridad
                th(scope='col') Cantidad
                th(scope='col') Especificaciones
                th(scope='col') Acciones
        tbody
            each item in items
                if item.stock<item.secstock
                    tr.table-danger
                        td #{item.code}
                        td #{item.type}
                        td #{item.name}
                        td #{item.secstock}
                        td
                            h4
                                span.badge.badge-danger=item.stock
                        td #{item.specs}
                        td 
                            -let route='/items/edit/'+item.code
                            a(id=item.code class='btn btn-warning search' href=route role='button' data-toggle="tooltip" data-placement="top" title="Editar ítem")
                                svg.bi.bi-pencil-square(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                    path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                            -let route2='/orders/add/'
                            a(id=item.code class='btn btn-danger' href=route2 role='button' data-toggle="tooltip" data-placement="top" title="Crear orden")
                                svg.bi.bi-cart3(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' d='M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z')

                else
                    tr
                        td #{item.code}
                        td #{item.type}
                        td #{item.name}
                        td #{item.secstock}
                        td
                            h4
                                span.badge.badge-success=item.stock
                        td #{item.specs}
                        td 
                            -let route='/items/edit/'+item.code
                            a(id=item.code class='btn btn-warning search' href=route role='button' data-toggle="tooltip" data-placement="top" title="Editar ítem")
                                svg.bi.bi-pencil-square(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                    path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')

