extends main

block main

    table.table.bg-light.table-bordered.table-hover.table-responsive-md
        thead.thead-light
            tr
                th(scope='col') No.
                th(scope='col') Fecha
                th(scope='col') Código
                th(scope='col') Tipo
                th(scope='col') Cantidad
                th(scope='col') Motivo
                
        tbody
            each note in notes
                tr
                    td #{note.number}
                    td #{note.date}
                    td #{note.code}
                    td
                        if note.type=='Entrada'
                            h4
                                span.badge.badge-success=note.type
                        else
                            h4
                                span.badge.badge-danger=note.type
                    td #{note.quantity}
                    td #{note.reason}
