extends main

block main

    table.table.bg-light.table-bordered.table-hover.table-responsive-md
        thead.thead-light
            tr
                th(scope='col') No.
                th(scope='col') Fecha de creaci贸n
                th(scope='col') C贸digo
                th(scope='col') Cantidad
                th(scope='col') Orden de trabajo
                th(scope='col') Fecha de cierre
                th(scope='col') Estado
                th(scope='col') Observaciones
                th(scope='col') Acciones
        tbody
            each referral in referrals
                tr
                    td #{referral.number}
                    td #{referral.creationDate}
                    td #{referral.code}
                    td #{referral.quantity}
                    td #{referral.jobOrder}
                    td #{referral.closeDate}
                    td 
                        if referral.status=='CREADA'
                            span.badge.badge-success=referral.status
                        else
                            span.badge.badge-danger=referral.status
                    td #{referral.obs}
                    td 
                        if referral.status=='CREADA'
                            -let route='/referrals/edit/'+referral.number
                            a(id=referral.number class='btn btn-warning search' href=route role='button' data-toggle="tooltip" data-placement="top" title="Editar remisi贸n")
                                svg.bi.bi-pencil-square(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                                    path(d='M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z')
                                    path(fill-rule='evenodd' d='M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z')
                            
                            a(id=referral.number class='btn btn-success closer' role='button' data-toggle="tooltip" data-placement="top" title="Cerrar remisi贸n")
                                svg.bi.bi-check2-square(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                                    path(fill-rule='evenodd' d='M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z')
                                    path(fill-rule='evenodd' d='M1.5 13A1.5 1.5 0 0 0 3 14.5h10a1.5 1.5 0 0 0 1.5-1.5V8a.5.5 0 0 0-1 0v5a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V3a.5.5 0 0 1 .5-.5h8a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 3v10z')        
                            