extends main

block main
    table.table.bg-light.table-bordered.table-hover.table-responsive-md
        thead.thead-light
            tr
                th(scope='col') C&oacute;digo
                th(scope='col') Tipo
                th(scope='col') Nombre
                th(scope='col') Nivel de seguridad
                th(scope='col') Cantidad
                th(scope='col') Especificaciones
                th(scope='col')
        tbody
            each item in items
                tr
                    td #{item.code}
                    td #{item.type}
                    td #{item.name}
                    td #{item.secstock}
                    td #{item.stock}
                    td #{item.specs}
                    td 
                        .btn.btn-warning Editar
